html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --appearanceChangeSpeed: 0.3s;
}

.dark {
  --background1: #181818;
  --background2: #222;
  --background3: #333;
  
  --text1: #ddd;
  --text2: #777;
}

.light {
  --background1: #fff;
  --background2: #eee;
  --background3: #ddd;

  --text1: #222;
  --text2: #999;
}
