.Container {
  background-color: var(--background2);
  width: 100vw;
  height: 100vh;
  overflow: auto;
  transition: var(--appearanceChangeSpeed) background-color;
}

.VideoList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
