.Navbar {
  background-color: var(--background1);
  transition: var(--appearanceChangeSpeed) background-color;
  width: 100%;
  height: 64px;
  display: flex;
  box-shadow: 0 0 8px #0006;
}

.LogoContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
}

.SmallLogo {
  display: none;
}

.LogoContainer {
  img {
    height: 50%;
  }
}

.SearchBarContainer {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 32px;
}

.SearchBar {
  background-color: var(--background2);
  font-size: 16px;
  height: 36px;
  padding: 8px;
  width: calc(100% - 64px);
  max-width: 512px;
  border: 1px solid var(--background3);
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  z-index: 1;
  color: var(--text1);
  transition: var(--appearanceChangeSpeed) background-color, var(--appearanceChangeSpeed) color, var(--appearanceChangeSpeed) border;
}

.SearchButton {
  background-color: var(--background3);
  width: 64px;
  height: 36px;
  font-size: 16px;
  border: 1px solid var(--background3);
  border-left: none;
  border-radius: 0 2px 2px 0;
  color: #555;
  box-sizing: border-box;
  cursor: pointer;
  transition: var(--appearanceChangeSpeed) background-color, var(--appearanceChangeSpeed) border;
}

.ChangeAppearance {
  width: 32px;
  height: 32px;
  align-self: center;
  margin-right: 28px;
  background-color: transparent;
  border: 0;
  color: #fa0;
  font-size: 32px;
  cursor: pointer;

  svg {
    transition: 0.4s transform, 0.4s filter;
    &:hover {
      transform: rotate(360deg);
      filter: drop-shadow(0 0 2px #fa0);
    }
  }
}

@media (max-width: 500px) {
  .LogoContainer {
    width: 80px;
  }
  .BigLogo {
    display: none;
  }
  .SmallLogo {
    display: block;
  }
}
