.Container {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.button, .activeButton {
  background-color: #ddd;
  border: 0;
  padding: 8px 12px 8px 12px;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  cursor: pointer;
  border-right: 1px solid #ccc;
  transition: 0.2s background-color, 0.2s color;
}

.button:first-child, .activeButton:first-child {
  border-radius: 4px 0 0 4px;
}

.button:last-child, .activeButton:last-child {
  border-radius: 0 4px 4px 0;
  border: 0;
}

.button:hover, .activeButton {
  background-color: #aaa;
  color: #eee;
}
