.Container {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.button, .activeButton {
  background-color: var(--background3);
  border: 0;
  padding: 8px 12px 8px 12px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text2);
  cursor: pointer;
  border-right: 1px solid var(--text2);
  transition: 0.2s background-color, 0.2s color;

  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
    border: 0;
  }
}

.button:hover, .activeButton {
  background-color: var(--background1);
  color: var(--text1);
  transition: var(--appearanceChangeSpeed) background-color, var(--appearanceChangeSpeed) color;
}
