.Container {
  display: flex;
}

.LeftContainer {
  flex: 1;
  padding: 16px 32px 16px 5%;
}

.FrameContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin-bottom: 12px;
}
.Frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.Title {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.ViewsAndLikesContainer {
  width: 100%;
  display: flex;
}
.ViewsContainer {
  flex-basis: 70%;
}
.LikesContainer {
  flex-basis: 30%;
  display: flex;
  justify-content: right;
}
.Likes, .Dislikes {
  padding: 4px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #444;
  transition: 0.2s filter, 0.2s color;
}
.Likes {
  
}
.Dislikes {
  margin-left: 8px;
  margin-right: 8px;
}
.Likes:hover {
  filter: drop-shadow(0 0 2px #082);
  color: #0f0;
}
.Dislikes:hover {
  filter: drop-shadow(0 0 2px #d02);
  color: #f00;
}
.Likes > span, .Dislikes > span {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.Views {
  color: #444;
}

.AuthorContainer {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #bbb;
  padding-top: 8px;
  margin-top: 8px;
}
.AuthorAvatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
}
.Author {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.AuthorName {
  font-size: 16px;
  font-weight: 600;
}
.Subscriptions {
  font-size: 14px;
}
.DescriptionContainer {
  width: 100%;
  padding: 8px 8px 0 68px;
  font-size: 14px;
  margin-bottom: 32px;
}

.WriteCommentContainer {
  display: flex;
  margin-bottom: 64px;
}
.WriteCommentContainer > textarea {
  height: 64px;
  flex: 1;
  margin-left: 8px;
  resize: none;
  font-size: 16px;
  padding: 8px;
  border: 0;
  background-color: #ddd;
  transition: 0.2s box-shadow;
  outline: 0;
}
.WriteCommentContainer > textarea:focus {
  box-shadow: 0 0 8px #0008;
}
.CommentAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
}
.CommentAvatar > span > img {
  border-radius: 50%;
}

.RightContainer {
  width: 450px;
  padding-top: 16px;
  padding-right: 64px;
}

.CommentContainer {
  margin-bottom: 16px;
  display: flex;
}
.CommentAvatarContainer {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  flex-basis: 48px;
}
.CommentAvatarContainer > span > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.CommentData {
  flex: 1;
}

.CommentAuthor {
  font-weight: 600;
}
.CommentDate {
  margin-left: 12px;
  font-size: 14px;
  color: #888;
}

@media (max-width: 900px) {
  .Container {
    flex-direction: column;
  }
  .LeftContainer, .RightContainer {
    width: 100%;
    flex-basis: 100%;
  }
  .LeftContainer {
    padding: 0;
  }
}
